.search {
  background-color: #121216;
  padding: 1em;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #32323D;
  z-index: 1;

  &__form {
    display: flex;
    align-items: center;
    margin-left: 150px;
  }
  
  &__input {
    background-color: #121216;
    border: none;
    color : white;
    margin-left: 1em;
  }
}

.search ion-icon{
  color: white;
  font-size: 24px;
}
